@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

:root {
  --font-title: "Fredoka One", sans-serif;
  --font-secondary: "Comic Neue", serif;
  --font-code: "Roboto", monospace;
  --font-footer: "Varela Round", sans-serif;
  --bg-color: #00163f;
  --font-color: #ffffff;
  --btn-bg-color: #74b4da;
  --accent-color: rgb(46, 4, 59);
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(images/moon\ background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  display: -webkit-flex;

  flex-flow: column;
  height: 110%;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  z-index: -10;
  background: url(images/moon\ background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outerbox {
  position: fixed;
  width: 100%;
  height: 3.8rem;
  background-color: #172949b6;
}
/* header */
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  display: -webkit-flex;
  gap: 2rem;
  align-items: center;
}

#scroll {
  margin-top: 3.8rem;
  background: url(images/scroll.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-flow: column;
  width: 100%;
}

/*network alert*/

#networkalert {
  position: fixed;
  background-color: #cc0923e5;
  width: 100%;
  height: fit-content;
  margin: auto;
  text-align: center;
  padding: 8px;
  color: var(--font-color);
  font-family: var(--font-secondary);
  font-weight: 600;
}
#music {
  border-radius: 0 0 10px 10px;
  border-bottom: 3px solid #b8ccf8;
  border-right: 3px solid #b8ccf8;
  border-left: 3px solid #b8ccf8;
  right: 5%;
  min-width: 250px;
  width: auto;
  position: fixed;
  background-color: #5873b3;
  height: 35px;
  text-align: center;
  padding: 3px 60px 3px 60px;

  color: var(--font-color);
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: large;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.4rem 2rem;
  background: var(--btn-bg-color);
  color: var(--font-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.25s ease;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0) perspective(1px);
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0) perspective(1px);
  -moz-transform: scale(1.2, 1.2) translate3d(0, 0, 0) perspective(1px);
  -o-transform: scale(1.2, 1.2) translate3d(0, 0, 0) perspective(1px);
  -ms-transform: scale(1.2, 1.2) translate3d(0, 0, 0) perspective(1px);
}
.wallet-btn {
  border-radius: 0.5rem;
  margin-left: 2rem;
  border-color: transparent;
}
.mint-container {
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: rgb(46, 72, 129);
  margin-top: 10%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20%;
  padding: 2rem 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
}
#youwhitelisted {
  margin-left: 3%;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 25px;
}

#NotLive {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 15%;
  margin-bottom: 180px;
  display: block;
}
#Live {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 15%;
  margin-bottom: 180px;
  display: block;
}
#mintnotlive {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#mintnotlivetext {
  font-size: 30px;
  margin-left: 3%;
  margin-right: 3%;
}
#mintlive {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#mintlivetext {
  font-size: 30px;
  margin-left: 3%;
  margin-right: 3%;
}

#discordbutton {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
#discordbutton2 {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
.mint-btn {
  border-radius: 2rem;
  font-size: 25px;
  border-color: transparent;
  margin-left: 1rem;
  margin-top: 0.7rem;
  padding: 0.25rem 1.8rem;
}

.number-btn {
  border-radius: 2rem;
  border-color: transparent;
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
}
#MintNumber {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: bold;
  margin-left: 1rem;
}
.supply {
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
}
#currentSupply {
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
#pricetext {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 15px;
}
#title {
  height: 200px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
#titlepicture {
  margin-top: 17%;
  margin-left: 20%;
  margin-right: auto;
  width: 60%;
  flex-flow: column;
}

.box {
  border-radius: 15px;
  padding: 0.1rem;
  background-color: var(--btn-bg-color);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.603);
  margin-top: 0;
  margin-right: 35%;
  margin-left: 5%;
  min-width: 500px;
  text-align: center;
  width: auto;
}
.title1 {
  font-size: 45px;
  text-shadow: 2px 2px #00163f;
  color: var(--font-color);
  font-family: var(--font-title);
  font-weight: 10;
}

.classic {
  font-size: 25px;
  color: var(--font-color);
  text-shadow: 1px 1px #00163f;
  font-family: var(--font-secondary);
  font-weight: 600;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

#aboutheidi {
  margin-left: 35%;
  margin-right: 5%;
  margin-top: 10%;
  width: content;
  height: auto;
  overflow: auto;
}
#heidi {
  width: 30%;
  max-width: 300px;
  border-radius: 15px;
  float: left;
}
#whatNFT {
  margin-top: 10%;
  margin-left: auto;
  margin-right: 8%;
  width: 100%;
  max-width: 800px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
#healthUK {
  width: 30%;
  max-width: 350px;
  border-radius: 15px;
  float: left;
}
#UKbut {
  margin-left: auto;
  margin-right: auto;
  background-color: #429dd1;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px #000;
}
#heiditext {
  margin-left: 35%;
  width: auto;
}

.clickup-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: 700px;
  max-width: 1200px;
  width: 100%;
  background: transparent;
  border: 5px solid rgb(8, 10, 48);
}
/* TEAM */
.wholediv {
  margin-top: 0;
  width: 100%;
  height: fit-content;
  background-color: #5874b3;
  text-align: center;
}
.member {
  overflow: hidden;
}
#member1 {
  margin-right: 50px;
  display: inline-block;
}
#member2 {
  margin-left: 50px;
  display: inline-block;
}
.avatar {
  margin-bottom: auto;
  width: 230px;
  border-radius: 50%;
  border: #66d6d4 solid 10px;
}
.title2 {
  font-size: 20px;
  color: #d5dde7;
  font-family: "Inter", sans-serif;
}
.title3 {
  font-size: 35px;
  color: var(--font-color);
  font-family: var(--font-title);
  font-weight: 10;
  margin-top: 50px;
  margin-bottom: 10px;
}
#aboutknedl {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
#abouttrader {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
#knedltitle {
  font-size: 60px;
}
.notes {
  margin-top: 50px;
  font-family: var(--font-footer);
  color: #ffffff;
  font-size: 13px;

  font-weight: 500;
  padding-bottom: 7px;
}
.contact {
  margin-top: 100px;
  font-family: var(--font-footer);
  color: #ffffff;
  font-size: 15px;

  font-weight: 500;
  padding-bottom: 10px;
}
#contract:hover,
:visited,
:link,
:active {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
/*mute*/
input {
  position: relative;
  display: block;
}
.circlein {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
input#un-mute {
  display: none;
}

.mute img {
  display: none;
}

input#un-mute:checked ~ .mute img {
  display: initial;
}

input#un-mute:checked ~ .unmute img {
  display: none;
}

.circle:hover {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #5873b375;
}

/*DEVICE SUPPORT*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  .box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 200px;
  }
  #aboutheidi {
    margin-left: 0;
    margin-right: 0;
  }
  .wallet-btn {
    padding: 0.2rem 0.5rem;
    margin-left: 0rem;
    font-size: 0.9rem;
  }
  .menu {
    gap: 1rem;
  }
  .classic {
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .title1 {
    font-size: 25px;
  }
  .smaller {
    width: 20px;
  }
  #aboutknedl {
    width: 300px;
  }
  #NotLive {
    width: 100%;
  }
  #mintnotlivetext {
    font-size: 20px;
  }
  #member1 {
    margin-right: 0;
    float: none;
  }
  #member2 {
    margin-left: 0;
    float: none;
  }
  #abouttrader {
    max-width: 300px;
    font-size: 20px;
  }
  #aboutknedl {
    max-width: 300px;
    font-size: 20px;
  }
  .notes {
    font-size: 10px;
  }
  .mint-container {
    margin-top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
  .box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #aboutheidi {
    margin-left: 0;
    margin-right: 0;
  }
  #NotLive {
    width: 100%;
    width: fit-content;
  }
  #member1 {
    margin-right: 0;
    float: none;
  }
  #member2 {
    margin-left: 0;
    float: none;
  }
  #abouttrader {
    max-width: none;
  }
  #aboutknedl {
    max-width: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #whatNFT {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #aboutheidi {
    margin-left: 0;
    margin-right: 0;
  }
  #member1 {
    margin-right: 0;
    float: none;
  }
  #member2 {
    margin-left: 0;
    float: none;
  }
  #abouttrader {
    max-width: none;
  }
  #aboutknedl {
    max-width: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .box {
    border-radius: 15px;
    padding: 0.1rem;
    background-color: var(--btn-bg-color);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.603);
    margin-top: 1rem;
    margin-right: 35%;
    margin-left: 5%;
    min-width: 500px;
    text-align: center;
    width: auto;
  }
  #whatNFT {
    margin-top: 10%;
    margin-left: auto;
    margin-right: 8%;
    width: 100%;
    max-width: 800px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #aboutheidi {
    margin-left: 35%;
    margin-right: 5%;
    margin-top: 10%;
    width: content;
    height: auto;
    overflow: auto;
  }
  #member1 {
    margin-right: 50px;
  }
  #member2 {
    margin-left: 50px;
  }
  #abouttrader {
    max-width: none;
  }
  #aboutknedl {
    max-width: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
